h1 {
    color: aquamarine;
}

body {
    background-color: black;
}

p {
    color: aquamarine;
}

button {
    color: darkcyan;
    border-color: darkcyan;
    border-radius: 50px;
    background-color: aquamarine;
}